$color-primary: #F1CDB3;
$color-tex: #545454;
$color-text-button: #292929;
$color-dark-m: #B2B2B2;
$color-text-about: #4C4C4C;
$color-header:#FAFAFA;
$color-header-link:#CDCDCD;
$color-light: #ffffff;
$color-bacgroun-border: #FDDCC4;
$color-bacgroun-pets: #F6F6F6;

$global-width: 1280px;
$content-width: 1200px;
$donation-width: 915px;

$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;

